/* RESET CSS */
/* SELETOR UNIVERSAL */
*{
	margin:0;
	padding:0;
	border:0;
	list-style-type:none
}

/* AGRUPAMENTO DE SELETORES */
h1,h2,p{
	color:#FF0000
}

/* SELETOR DE ELEMENTO DESCENDENTE */
h2 span{
	color: #00FF00;
}
/* ID E CLASS */
#exemplo{
	color:#999000;
}
#exemplo span{font-size:20px;}
.teste{
	color:#009999;
}
.teste .teste-1{text-decoration:underline;}
/*
SEMELHANÇAS ENTRE ID E CLASS:
- SÃO ATRIBUTOS GLOBAIS;
- OS DOIS SERVEM PRA IDENTIFICAR ELEMENTOS HTML;
- NOS DOIS O VALOR É UMA STRING*.

DIFERENÇA ENTRE ID E CLASS:
- QUANDO QUERO SELECIONAR SOMENTE UM ELEMENTO ESPECÍFICO, EU USO ID. QUANDO QUERO SELECIONAR VÁRIOS, EU USO CLASS;
- UM VALOR DE UMA ID NÃO PODE SER REPETIR NA MESMA PÁGINA, JÁ O VALOR DE UMA CLASSE PODE;
- PARA ESTILIZAR UMA ID EU USO #, PARA SELECIONAR UMA CLASS EU USO ., SEGUIDA DA STRING;
- UMA ID TEM UMA HIERARQUIA DO EFEITO CASCATA MAIS FORTE QUE UMA CLASSE;
- ID TEM SEMPRE SOMENTE UM VALOR, CLASS PODE TER VÁRIOS.

 * STRING É UMA PALAVRA, UM TERMO, GENÉRICO, PARA IDENTIFICAR ELEMENTOS. NÃO PODE TER ACENTO, ESPAÇO, CEDILHA, NEM CARACTERES ESPECIAIS. É CASE-SENSITIVE. NÃO PODE COMEÇAR COM NÚMEROS.
 DOM - DOCUMENT OBJECT MODULE
 */
