/* RESET */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img,
strong, u, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot,
thead, tr, th, td, main, article, aside, figure, figcaption, footer, header,
nav, section, time, audio, video{
    border:0;
    font-size:100%;
    font:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

html{scroll-behavior:smooth;}

body{
    background:#fff;
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:1;
}
ol,ul,li{list-style:none;}

strong{font-family:Arial, Helvetica, sans-serif;}

table{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

a,a:hover{
    color:#000;
    text-decoration:none;
    cursor:pointer;
}

:focus{outline:0;}

/* TOPO */
figure img{width:100%;}

/* CONTEÚDO */
main{
    width:1000px;
    margin:0 auto;
}

h2{
    font:bold 26px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform:uppercase;
    color:#999;
    margin:40px 0 20px;
    border-bottom:2px solid #999;
}

p{
    font:16px/20px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#333;
    margin-bottom: 10px;
}

.firstContent p{text-align:center;}
.firstContent img {
    margin: 10px;
}

li{
    font:16px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#333;
    list-style:inside url(imagens/check.png);
}

/* RODAPÉ */
footer{
    border-top:1px solid #333;
    margin-top:40px;
    padding:20px 0;
    text-align:center;
}

footer p{margin-bottom:0;}
