/* /1* RESET *1/ */
/* html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img, */
/* strong, u, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, */
/* thead, tr, th, td, main, article, aside, figure, figcaption, footer, header, */
/* nav, section, time, audio, video{ */
/*     border:0; */
/*     font-size:100%; */
/*     font:inherit; */
/*     margin:0; */
/*     padding:0; */
/*     vertical-align:baseline; */
/* } */

/* html{scroll-behavior:smooth;} */

/* body{ */
/*     background:#fff; */
/*     color:#000; */
/*     font-family:Arial, Helvetica, sans-serif; */
/*     font-size:14px; */
/*     line-height:1; */
/* } */
/* ol,ul,li{list-style:none;} */

/* strong{font-family:Arial, Helvetica, sans-serif;} */

/* table{ */
/*     border-collapse:collapse; */
/*     border-spacing:0; */
/*     width:100%; */
/* } */

/* a,a:hover{ */
/*     color:#000; */
/*     text-decoration:none; */
/*     cursor:pointer; */
/* } */

/* :focus{outline:0;} */
/* FIM do RESET */

.conteiner{
    position:relative;
    margin: 0 auto;
    width: 1200px;
    background: #fff;
    padding:20px;
}
/* RODAPE */
footer{
    border-top:1px solid #000;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
}
