*{
    margin:0;
    padding:0;
    border:0;
    list-style:none;
}

body{
    background:#333;
}
.form-contato{
    width:1000px;
    margin:20px auto;
    background:#fff;
    padding:20px;
}
.form-contato li{
    margin:10px 0;
}
.form-contato input{
    width:300px;
    padding:5px;
    border:1px solid #000;
}
label.error{
    border:1px dashed #F00;
    color:#F00;
    padding:5px;
    margin:0 10px;
    font:12px 'Courier New', Courier, monospace;
}
.form-contato input::placeholder{
    color:#ccc;
    font:14px Arial, Helvetica, sans-serif;
}