/* RESET */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img,
strong, u, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot,
thead, tr, th, td, main, article, aside, figure, figcaption, footer, header,
nav, section, time, audio, video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

html{scroll-behavior:smooth;}

body{
  background:#fff;
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol,ul,li{list-style:none;}

strong{font-family:Arial, Helvetica, sans-serif;}

table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}

a,a:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}

:focus{outline:0;}
/* REVISAO DE CONTAINER */
.container{
  width: 1200px;
  margin: 0 auto;
}
/* DISPLAY muda o comportamento padroa dquele tipo de elemento html
 * */
.d-box2 a{
  display: block;
  padding: 10px 40px;
  text-decoration:none;
}
/* DISPLAU:INLINE-BLOCK */
.d-box{
  background: #333;
}
.d-box1{
  width: 200px;
  height: 100px;
  background: #09c;

}
.d-box2{
  width: 250px;
  height: 130px;
  background: #c09;
}
.d-box1, .d-box2{
  display: inline-block;
  vertical-align: top;
}
/* FLEX
 * <3 flex permite que os filhos fiquem lado a lado*/
.f-box{
  background: #999;
  margin-top: 50px;
  display: flex;/*por padrao ele muda o tamanho dos filhos mudem de tamanho*/
  flex-wrap: wrap;/*fax comque os elementos filhos mantenham seu tamanho*/
  justify-content: space-between;/*alinhamento horizontal*/
  align-items: center;/*alinhamento vertical*/
  gap: 10px;/*Espacamento entre os filhos*/
}
.f-box1{
  width: 120px;
  height: 150px;
  background: #990;
}
.f-box2{
  width: 120px;
  height: 200px;
  background: #099;
}
.box1{order:7;}
.box2{order:10;}
.box3{order:1;}
.box4{order:2;}
.box5{order:8;}
.box6{order:5;}
.box7{order:3;}
.box8{order:9;}
.box9{order:4;}
.box10{order:6;}

/* GRID top d+ pra mosaico*/
.g-box{
  background: #ccc;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.g-box1{
  width: 150px;
  height: 200px;
  background: #909;
}
.g-box2{
  width: 300px;
  height: 150px;
  background: #900;
}
