/*INICIO DO RESET */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img,
strong, u, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot,
thead, tr, th, td, main, article, aside, figure, figcaption, footer, header,
nav, section, time, audio, video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
html{scroll-behavior:smooth;}
body{
  background:#2b313c;
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol,ul,li{list-style:none;}
strong{font-family:Arial, Helvetica, sans-serif;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,a:hover{
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
/*FIM DO RESET */

/* TECNICAS DE TABLELESS
- POSITION;
- FLOAT;
- DISPLAY;
- FLEX;
- GRID.*/


/* - POSITION: Quando eu quero que um elemento fique por cima de outro
 * Valores posiveis para a propriedade position:
 * static (default);
 * relative; (prender o absolute)
 * absolute;
 * fixed;
 * sticky.
 *
 *libera o uso da propriedades
 top
 left
 right
 boottom
 z-index quem fica por cima dquem ja tem valor 0 por padrao, valores negativos ele sai do pai

 * */
.p-box{
  position:relative ;
  top:20px;
  left: 40px;
  background: #7fc;
  width: 400px;
  height: 400px
}

.p-box1{
  position:absolute ;
  right:140px;
  bottom: 140px;
  background: #cf7;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.p-box2{
  position: absolute;
  right: 50px;
  bottom: 40px;
  width: 200px;
  height: 200px;
  background: #ffc;
}
.fone{
  background: #0fc;
  padding: 10px;
  width: 76px;
  font:16px  Arial, Helvetica, sans-serif;
  position: fixed;
  top: 250px;
  left:0;
  z-index: 2;
}
/* float tecnica de Tabeless para posicionar caixas lado a lado
 * left
 * right
 * none
 * */
.f-box{
  background:#A9DC76;
  width: 500px;
  overflow: auto; /*maelhor forma de corrigir o bug */
}
.f-box1{
  background: #090;
  width:100px;
  height:50px;
  margin: 10px;
  float: left;
}
.f-box2{
  background: #909;
  width:50px;
  height:100px;
  float: left;
}

/*BUG QUE O FLOAT CAUSA:
USAR FLOAT NOS ELEMENTOS FILHOS, FAZ COM QUE O ELEMENTO PAI PERCA SUA ALTURA NATURAL. PARA CORRIGIR, EXISTEM DUAS FORMAS:
- CLEAR (left | right | both);
- OVERFLOW.

.fix{
  clear:both;
}*/
