*{
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
}
.box{
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 30px 0;
    box-shadow: 10px 7px 5px #333;
    /* opacity: 0.7; melhor usar RGBA */
    background: #039;
    background-image: linear-gradient(#039, #930);
}
h1{
    font:700 100px Arial, Helvetica, sans-serif;
    color: #900 ;
    text-shadow: 10px 7px 5px #333;
    transform: rotate(0deg);
    transform: skew(-45deg);
}
h1:hover{
    transform: rotate(25deg);
}
img{
    filter: grayscale(100%);
    /* transform:scale(50%); */
    display: block;
}
img:hover img{
    filter: grayscale(0);
}
.box2{
    position: relative;
    width: fit-content;
}
.borda{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    border: 3px solid #fff;
    transition: .3s ease all;
}
.box2:hover .borda{
    transform: scale(75%);
    transform: .3s ease all;
}
/* .fundo-modal{ */
/*     position: fixed; */
/*     width: 100%; */
/*     height: 100%; */
/*     background: rgba(0, 0, 0, 0.5); */
/*     z-index: 99; */
/* } */
/* .conteudo-modal{ */
/*     width: 500px; */
/*     height: 500px; */
/*     padding: 20px; */
/*     position: fixed; */
/*     top: 50%; */
/*     left: 50%; */
/*     background: #fff; */
/*     z-index: 99; */
/*     transform:translate(-50%,-50%) ; */
/* } */
