h1 {
    color: aqua;
    letter-spacing: -2px;
    text-transform: uppercase;
    width: 650px;
    text-shadow: 1px 1px black;
}

.p1 {
    text-indent: 50px;
    width: 650px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    /*
    text-align: justify;*/
}