abel,
input[type=subimit],
input[type=text],
textarea {
    display: block;
}

textarea {
    width: 300px;
    height: 80px;
}

input[type=submit] {
    background-color: black;
    color: greenyellow;
    cursor: pointer;
    padding: 10px 20px;
    border: o;
}

input[type=submit]:hover {
    background-color: blue;
}
